{% extends "include/home.html.twig" %}

{% block  content %}

<section  id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
       <div class="aa-myaccount-area">
           <div class="row">
             <div class="col-md-12">
               <div class="aa-myaccount-register">
                <h4>Parolu xatırla <span class="registeralerttext">
                                   {% if app.session.get('user_information_password') != null %}
                                     {{app.session.remove('user_information_password')}}
                                    {{app.session.get('user_information_password')}}
                                    {% endif %}</span></h4>

                {% if app.session.get('user_information_email_security') == null %}

                <form  action="{{ path('checkout_security_word')}}" method="post" class="aa-login-form">
                <div class="col-md-6">
                <div class="form-group">
                 <label for="label">Email<span>*</span></label><span hidden class="registeralerttext"   id="user_email_text">"Boş olmamalıdır!"</span>
                 <input type="email" id="user_email" required   autocomplete="off" class="form-control" name="user_email">
                </div>

                <div class="form-group">
                <label for="label">Gizli söz<span>*</span></label><span hidden class="registeralerttext"   id="user_security_password_text">"Boş olmamalıdır!"</span>
                <input type="text" class="form-control" required autocomplete="off" id="user_security_password" name="user_security_password">
                </div>
                <button type="submit" class="aa-browse-btn btn-block">Yoxla</button>

                </div >
                </form>
                  {% endif %}


              {% if app.session.get('user_information_email_security') != null %}
              <form class="aa-login-form" action="{{ path('change_password')}}" method="post">

               <div class="col-md-6">
               <div class="form-group">
                <label for="label">Parol<span>*</span></label><span hidden class="registeralerttext"   id="user_password_one_text"></span>
                <input type="password" id="user_password_one" required autocomplete="off"   class="form-control" name="user_password">
               </div>

               <div class="form-group">
                <label for="label">Parol (təkrar)<span>*</span></label><span hidden class="registeralerttext"   id="user_password_text">"Parol düzgün deyil"</span>
                <input type="password" id="user_password"  required autocomplete="off" class="form-control" name="user_password_two">
               </div>

                 <button type="submit" class="aa-browse-btn btn-block">Yenilə</button>
               </div>
               </form>
                  {% endif %}
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>




{% endblock %}
